/* Estilos para el estado válido */
.is-valid {
  border-color: #28a745 !important; /* Verde para el borde */
}

.is-valid:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

/* Estilos para el estado inválido */
.is-invalid {
  border-color: #dc3545 !important; /* Rojo para el borde */
}

.is-invalid:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}

/* Elimina los estilos de background-image por defecto de Bootstrap */
.was-validated .form-control:valid,
.was-validated .form-control:invalid,
.form-control.is-valid,
.form-control.is-invalid {
  background-image: none !important;
}
/* El icono de X rojo se muestra solo cuando la clase is-invalid está presente */
.form-control.is-invalid {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/></svg>');
}

/* Asegúrate de que no haya estilos de hover verdes */
.form-control.is-valid:hover,
.form-control.is-invalid:hover {
  border-color: inherit !important;
  box-shadow: none !important;
}
